body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: rgb(3, 3, 62);
    color:rgb(235, 232, 232);
    background-image: url("../assets/img/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    color: aqua;
    background-color: black;
}
h1,h2{
    text-align: center;
}
img{
    border: 5px solid orange;
    padding: 5px;
    height: 250px;
    /* margin: auto; */
    /* display: block; */
}
.rizz{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hotpink;
    border: 5px dashed yellow;
    font-size: 400%;
    font-weight: bolder;
    background-color: limegreen;
}
.rizz:hover{
    font-size: 450%;
    color: crimson;
    border: 5px solid cyan;
}
li{
    width: fit-content
}
li:hover{
    text-decoration: underline;
    background-color: rgb(62, 62, 62);
}           